@import url(../../styles/styles.css);

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: 0;
  box-sizing: 0;
  list-style: none;
  text-decoration: none;
}

.navTab {
  width: auto;
  height: 24px;
}

.portfolioIcon {
  width: 32px;
  height: auto;
  padding-right: var(--size-MD);
}
