@import url(styles.css);

.mainContentWrapper {
  width: 100%;
}

.parallaxImage {
  background-image: url(/src/images/capitalReef.jpg);
  min-height: 520px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: fixed;
  background-size: cover;
  align-items: center;
  justify-content: center;
}

.parallaxH1 {
  font-family: 'DM Serif', serif;
  font-size: 3em;
  position: absolute;
  color: var(--color-whitish);
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spacer80 {
  margin-top: 80px;
}

.spacer200 {
  margin-top: 200px;
}

.portfolio {
  padding: var(--size-LG);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.portfolioPiece {
  padding: var(--size-XL);
  width: 80%;
  max-width: 800px;
  min-width: 420px;
  background-color: var(--color-secondary);
  border-radius: var(--size-MD);
  transition: var(--transition-main);
}

.portfolioPiece:hover {
  cursor: pointer;
  background-color: var(--color-hover);
}

.portfolioPiece:active {
  background-color: var(--color-secondary);
}

.title,
p,
h1,
h2,
h3,
h4,
h5 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  color: var(--color-whitish);
}

.portImage {
  width: 100%;
  border-radius: var(--size-MD);
}

.titleRow {
  border-bottom: 4px solid var(--color-whitish);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--size-MD);
}

.title {
  font-size: 32px;
}

.titleIcon {
  background-color: none;
  padding: var(--size-SM);
  width: var(--size-XXL);
  height: var(--size-XXL);
}

.subtitle {
  width: 100%;
  padding: 0;
  line-height: var(--size-XXXL);
  color: var(color-gray-3);
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 28px;
    padding: 0;
    border-bottom: 0px transparent;
    margin-bottom: 0px;
  }
}
