@import url(styles.css);

.parallaxImage {
  background-image: url(/src/images/jellyfish.jpg);
  min-height: 520px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: fixed;
  background-size: cover;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  color: var(--color-gray-2);
}

.mainContentWrapper {
  max-width: 1200px;
}

.sectionHeader {
  font-size: 60px;
  margin: 64px 0px 40px 0px;
}

.cardRow {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: var(--size-XXXL);
  margin: 24px 48px;
}

.card {
  margin: var(--size-MD);
  padding: var(--size-XL);
  border-radius: var(--size-MD);
  background-color: var(--color-secondary);
  display: flex;
  flex: 1;
  flex-grow: 1;
  flex-direction: column;
  width: 64%;
  gap: var(--size-MD);
  transition: var(--transition-main);
}

.card:hover {
  background-color: var(--color-hover);
}

.card:active {
  background-color: var(--color-primary);
  transform: scale(0.995);
}

.cardTitle {
  font-family: serif;
  font-weight: 900;
  font-size: 1.5em;
}

.imageWrapper {
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: var(--size-MD);
}

.cardImage {
  border-radius: var(--size-MD);
  height: 400px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.cardSubtitle {
  font-size: 16px;
}

@media only screen and (max-width: 768px) {
  .mainContentWrapper {
    padding: 0;
  }
  .cardRow {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card {
    width: 90%;
    gap: var(--size-MD);
    transition: var(--transition-main);
  }
}
